.text-shadow {
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
}


img.overlay {
    position: absolute;
    width: 30%;
    height: auto;
    top: 44%;
    left: 75%;
    transform: translate(-50%, -50%);
}

img.overlay2 {
    position: absolute;
    width: 32%;
    height: auto;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.text1,
.text2 {
    position: absolute;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(255, 255, 255, 0.5);
    /* 50% transparent white */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text1 {
    width: 30%;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
    margin-top: 4.5rem;

}

.text2 {
    width: 30%;
    top: 80%;
    left: 28%;
    transform: translate(-50%, -50%);
    margin-top: 4.5rem;
}

.gemmy-container {
    height: 100%;
    width: 100%;
}

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}