.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(0);
    /* Keep the navbar in view */
    background-color: rgba(0, 0, 0, 0.1);
    /* 50% opacity */
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.3);
    /* 70% opacity */
}