.headroom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b5a70;
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.headroom--unfixed,
.headroom--unpinned,
.headroom--pinned {
    position: fixed;
    width: 100%;
    background-color: #4b5a70;
}

.headroom--unpinned {
    transform: translateY(0);
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom--scrolled {
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.whitespace-nowrap {
    white-space: nowrap;
}